.root {
  max-width: 60%;
  margin: 25px auto 0;
  background-color: #a868cb;
  border-radius: 10px;
  padding: 25px;
}

.wrapper {
  max-width: 50%;
  margin: 10px auto 0;
  display: flex;
  justify-content: space-between;
}
